@model SitePBL.Models.FuncionarioViewModel
@{
    if (ViewBag.operacao == "I")
        ViewData["Title"] = "Cadastro de Funcionario";
    else
        ViewData["Title"] = "Edição de Funcionario";
}
<head>
    <link rel="stylesheet" href="~/css/cadFunc.css">

</head>

<main class="content-container">
    <form class="form-container row container" method="post" enctype="multipart/form-data" action="Save">
        <section class="left-section col">
            <p>Cadastro de</p>
            <h1><strong>Funcionário</strong></h1>

            <input type="hidden" name="Operacao" value="@ViewBag.Operacao" />
            <input type="submit" class="btn btn-primary" role="button" name="btnEnviar" value="Enviar" />
        </section>

        <section class="right-section col row">

                <div class="input-group-sm mb-3 col">
                    <br />
                    <input type="hidden" name="id" value="@Model.id" />
                    <div class="form-group">
                        <label class="control-label">Nome</label>
                        <input asp-for="nome" class="form-control" maxlength="500" />
                        <span asp-validation-for="nome" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Cargo</label>
                        <input asp-for="cargo" class="form-control" maxlength="500">
                        <span asp-validation-for="cargo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Data de Contratação</label>
                        <input asp-for="dataContratacao" type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                        <span asp-validation-for="dataContratacao" class="text-danger"></span>
                    </div>
                </div>
            <div class="file-section col">
                <label for="logo-upload">Foto</label>
                <br>
                <div class="upload-container">
                    <!-- Input de arquivo escondido -->
                    <input type="file" id="logo-upload" asp-for="imagem" accept=".jpg,.jpeg,.png"
                           onchange="ExibirImagem()" style="display: none;" value="@Model.imagem">

                    <!-- Container clicável para imagem ou ícone -->
                    <div class="image-upload-box d-flex justify-content-center align-items-center border border-secondary"
                         style="width: 150px; height: 150px; background-color: white; cursor: pointer;"
                         onclick="document.getElementById('logo-upload').click();">
                        <!-- Pré-visualização da imagem -->
                        <img id="imgPreview" src="@Model.foto64" alt="Pré-visualização da Logo"
                             style="max-width: 100%; max-height: 100%; display: none;">

                        <!-- Ícone de 'mais' para upload -->
                        <span id="uploadIcon" class="text-secondary" style="font-size: 2rem;">
                            <i class="fas fa-plus"></i>
                        </span>
                    </div>
                </div>
            </div>
    </form>
    <script>
        function ExibirImagem() {
            var oFReader = new FileReader();
            var fileInput = document.getElementById("logo-upload");
            var file = fileInput.files[0];

            if (file) {
                oFReader.readAsDataURL(file);
                oFReader.onload = function (oFREvent) {
                    var imgPreview = document.getElementById("imgPreview");
                    var uploadIcon = document.getElementById("uploadIcon");

                    // Exibe a imagem e esconde o ícone
                    imgPreview.src = oFREvent.target.result;
                    imgPreview.style.display = "block";
                    uploadIcon.style.display = "none";
                };
            }
        }
    </script>

</main>
