@model ManutencaoViewModel
@{
    if (ViewBag.operacao == "I")
        ViewData["Title"] = "Cadastro de Manutenção";
    else
        ViewData["Title"] = "Edição de Manutenção";
}
<head>
    <link rel="stylesheet" href="~/css/cadFunc.css">

</head>

<main class="content-container">
    <form class="form-container row container" method="post" enctype="multipart/form-data" action="Save">
        <section class="left-section col">
            <p>Cadastro de</p>
            <h1><strong>Manutenção</strong></h1>

            <input type="hidden" name="Operacao" value="@ViewBag.Operacao" />
            <input type="submit" class="custom-button" role="button" name="btnEnviar" value="Enviar" />
        </section>

        <section class="right-section col row">

            <div class="input-group-sm mb-3 col">
                <br />
                <input type="hidden" name="id" value="@Model.id" />


                <div class="form-group">
                    <label class="control-label">Funcionario Responsavel</label>
                    <select asp-for="idFuncionario">
                        <option value="-1">--Selecione--</option>

                        @foreach(FuncionarioViewModel f in ViewBag.funcionarios){
                            <option value="@f.id">@f.nome</option>
                        }
                    </select>
                    <span asp-validation-for="idFuncionario" class="text-danger"></span>

                </div>

                <div class="form-group">
                    <label class="control-label">Sensor</label>
                    <select asp-for="idSensor">
                        <option value="-1">--Selecione--</option>

                        @foreach (SensorViewModel S in ViewBag.sensores)
                        {
                            <option value="@S.id">@S.descricao</option>
                        }
                    </select>
                    <span asp-validation-for="idSensor" class="text-danger"></span>

                </div>

                <!--Data e Hora-->
                <div class="form-group">
                    <label class="control-label">Data de Contratação</label>
                    @if (ViewBag.operacao == "I")
                    {
                        <input asp-for="data_hora" type="datetime-local" class="form-control"
                               value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" />
                    }
                    else
                    {
                        <input asp-for="data_hora" type="datetime-local" class="form-control"
                               value="@Model.data_hora.ToString("yyyy-MM-ddTHH:mm")" />
                    }
                    <span asp-validation-for="data_hora" class="text-danger"></span>
                </div>

                @if (ViewBag.operacao == "A")
                {

                    <div class="form-group">
                        <label class="control-label">Estado</label>
                        <select asp-for="estadoId">
                            <option value="-1">--Selecione--</option>
                            @foreach (var E in ViewBag.estados)
                            {
                                <option value="@((int)E)E">@E</option>
                            }
                        </select>
                        <span asp-validation-for="estadoId" class="text-danger"></span>

                    </div>

                }
                else
                {
                    <input asp-for="estadoId" value="1" hidden />
                }
            </div>

    </form>


</main>
