@model List<ManutencaoViewModel>
<div class=" row main-section">
    <table class="table table-responsive">
        <tr>
            <th>Ações</th>
            <th>ID</th>
            <th>Data/Hora</th>
            <th>Funcionario Responsavel</th>
            <th>Sensor</th>
            <th>Empresa</th>
            <th>Estado da Manutenção</th>

        </tr>

        @foreach (var manutencao in Model)
        {
            <tr>
                <td class="icons">
                    <a href="/manutencao/edit?id=@manutencao.id" role="button" class="btn btn-primary">
                        <img src="~/img/EditIcon.png" alt="Editar" style="width:20px; height:20px;">
                    </a>
                    &nbsp;&nbsp;
                    <a href="javascript:apagar(@manutencao.id)" role="button" class="btn btn-danger">
                        <img src="~/img/TrashIcon.png" alt="Excluir" style="width:20px; height:20px;">
                    </a>
                </td>
                <td>@manutencao.id</td>
                <td>@manutencao.data_hora</td>
                <td>@manutencao.nomeFuncionario</td>
                <td>@manutencao.descricaoSensor</td>
                <td>@manutencao.nomeEmpresa</td>
                <td>@manutencao.estadoNome</td>


            </tr>
        }
    </table>
</div>